.videos {
  display: flex;
  gap: 1rem;
  justify-content: center;
  background-color: #331c5080;
  backdrop-filter: blur(4px) brightness(50%);
  border-radius: 10px;
  flex-direction: row;
  width: 75%;
  max-width: 2000px;
  max-height: calc(100vh - 8rem);

  @media (max-width: 1200px) {
    flex-direction: column;
    width: 100%;
  }
}

.venuesContainer {
  overflow: hidden auto;
  flex-grow: 1;
  flex-shrink: 0;

  @media (max-width: 1200px) {
    width: 100%;
    overflow: auto auto;
  }
}

.venues {
  width: auto;
  flex-shrink: 0;
  backdrop-filter: brightness(150%);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  .seasonTextContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -1rem;
  }

  h2 {
    text-align: center;
  }

  @media (max-width: 1200px) {
    width: max-content;
    flex-direction: row;

    h2 {
      text-align: right;
      max-width: 100px;
      position: relative;
      bottom: 0.25rem; // Without this the text looks too low even if it's perfectly centered
    }

    .seasonTextContainer {
      margin-bottom: 0;
    }
  }
}

.venue {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  height: 100%;

  @media (max-width: 1200px) {
    flex-direction: column;
  }
}
