.background {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  background-image: url("/assets/photo_banner.jpg");
  background-size: cover;
  background-position: center center;
  z-index: 0;
}

.main {
  position: absolute;
  z-index: 1;
  backdrop-filter: blur(5px);
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f5f3f2;
  font-size: x-large;
  text-align: center;
  padding: 1rem;
}

.link {
  color: #f4f3f2;

  &:hover {
    background-color: #f4f3f2;
    background: -webkit-linear-gradient(315deg, #ffd702, #ff7900, #ff0069, #d300c5, #7638fa);
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration-color: #ff0069;
  }
}
